body {
  margin: 0;

  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: blue orange;   /* scroll thumb and track */
  /* background-color: lightblue; */
  /* font-family: 'Fira Code', monospace; */
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}

.container {
  height: initial;
  display: flex;
}

.item {
  padding: 0 10px;
}

.btn {
  font-family: inherit;
  box-shadow: none;
  border: 1px solid black;
}

.btn:hover {
  cursor: pointer;
  background-color: grey;
  color: white;
}

#first-nav {
  align-items: center;
  padding: 3px 30px;
  justify-content: space-between;
  color: black;
  /* border-bottom: 1px solid lwhiteightgrey; */
  font-size: 15px;
}

.item-icon {
  padding: 3px 5px;
}

#second-nav {
  text-align: center;
  padding: 5px 40px;
  justify-content: space-between;
}

#logo {
  align-items: center;
  display: flex;
  font-family: 'Kaushan Script', cursive;
  font-size: 25px;
}

.item-logo {
  padding: 0;
}

#logo-main {
  color: #437eeb;
  font-size: 20px;
  font-family: "Fascinate", cursive;
}

#logo-sub {
  letter-spacing: 10px;
}

.item-cat {
  font-size: 15px;
  padding: 3px 20px;
  display: flex;
  align-items: center;
}

.item-cat:hover {
  cursor: pointer;
  border-bottom: 3px solid #437eeb;
}

#question {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#full-contact:hover {
  cursor: pointer;
  border-bottom: 3px solid #437eeb;
}

#main-image {
  width: -moz-available;
}

#body-container {
  margin-top: 50px;
  justify-content: space-between;
}

#body-right {
  width: 50%;
  align-items: center;
}

#body-left {
  font-family: 'Kaushan Script', cursive;
  padding-left: 30px;
  flex-flow: column wrap;
  width: 50%;
  justify-content: center;
}

#da {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
}

.btn {
  margin: 10px 20px;
  box-shadow: none;
  border: 1px solid black;
  /* border-radius: 20px; */
  color: black;
  background-color: transparent;
  padding: 8px;
  font-family: "Poppins", sans-serif;
}

.btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.wrapper {
  margin-top: 10px;
}

#body-container-2 {
  margin-top: 100px;
  justify-content: space-evenly;
  align-items: center;
}

.center {
  margin: auto;
}

.svg-center {
  display: block;
}

.card-pic {
  width: 50%;
}

.card-head {
  padding: 15px 25px;
  align-items: center;
  text-align: center;
}

.card-body {
  padding: 15px 25px;
  align-items: center;
  text-align: center;
}

.card-container {
  border-radius: 5px;
  max-width: 350px;
  background-color: lightgrey;
  max-height: 380px;
}

#footer {
  text-align: center;
  margin-top: 30px;
  align-items: center;
  padding: 10px;
  color: black;
  border-top: 1px solid lightgrey;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-active {
  border: 1px;
  border-bottom: 3px solid #437eeb;
}

.container-header {
  widows: 100%;
  text-align: center;
  font-family: inherit;
}

iframe {
  box-shadow: rgb(38, 57, 77) -20px 20px 50px -5px;
}

.video-right {
  width: 50%;
  padding: 20px;
}

.video-left {
  width: 50%;
}

#body-container-3 {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#product-video-text {
  text-align: center;
}

